body{
  background-color: white;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  color: black;
}
.error{
  color: red;
  font-size: 20px;
}
.watches-form{
  display: flex;
  font-size: 24px;
  align-items: flex-end;
}
.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.input{
  box-sizing: border-box;
  height: 50px;
  font-size: 24px;
  background-color: white;
  color:black;
}
.submit{
  box-sizing: border-box;
  height: 50px;
  border: solid 2px black;
  font-size: 20px;
  background-color: white;
  color: black;
}
.watch-container{
  width: 100px;
}
.header{
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.delete{
  width: 16px;
}
.watch{
  height: 100px;
  background-image: url("./assets/watch.jpg");
  background-size: cover;
  display: flex;
}
.arrow{
  box-sizing: border-box;
  height: 100px;
}
.hour.arrow{
  margin-left: 50px;
}
.minute.arrow{
  margin-left: -1px;
}
.second.arrow{
  margin-left: -2px;
}
.arrow::after{
  display: block;
  content: "";
  width:1px;
  height: 50px;
  background-color: black;
}
.hour.arrow::after{
  width:2px;
}
.second.arrow::after{
  background-color: red;
}